#header {
    text-align: center;
    background-color: aqua;
    color: black;
    font-size: 80px;
}

#container {
    font-size: 50px;
    display: flex;
}

#search {
    text-align: center;
}

.form-input {
    font-size: 30px;
    margin: 10px;
}

li {
    display: flex;
    list-style: none;
}

#listbutton {
    font-size: 30px;
    padding: 8px;
    margin: 8px;
}

button {
    background-color:aqua;
    color: black;
}

#submit {
    font-size: 25px;
    padding: 8px;
    margin: 8px;
    display: flex;
    text-align: center;
}

#chosencity {
    font-size: 40px;
    margin: 30px;
    padding: 40px;
    width: 1300px;
    height: 200px;
}

#today {
    margin: 10px;
}

#fivedaylist {
    display: flex;
    height: 400px;
    margin: 10px;
}

#day {
    margin: 20px;
    height: 350px;
    width: 240px;
    text-align: center;
}